body {
    background-image: url(../imagens/brasa.gif);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }

.titulo{
    font-size: 3rem;
    text-align: center;
    height: 4rem;
    color: #F8F9D7;
}

.subtitulo{
    text-align: center;
    background-color: #4B0082;
    color: #E6E6FA;
    border: dashed 6px black;
    margin:3vh 25vw;
    display: block;
    
}

.recapitulando{
    padding: 10px;
    background-color: rgba(123,104,238, 0.1);
    height: 30rem;
}

.paragrafo{
    font-size: 1rem;
    color: #E6E6FA;
    padding: 5px;
    margin: 5px;
}

.paragrafo-com-imagem{
    display: flex;
    text-align: center;
    font-size: x-large;
    gap: 15px;
    margin: 20px 10px;
    color: #E6E6FA;
}

.paragrafo-com-imagem img{
    height: 15em;
    width: 13em;
}

.haj{
    display: block;
    background-color: rgba(34,139,34, 0.1);
    width: 100vw;
    height: 30rem;
    padding: 10px;
}

.ficha{
    display: block;
    text-align: center;
    margin: 3% 25%;
    height: 10em;
}

.foto-haj{
height: 15em;
width: 20em;
}

.nome-monstro{
    color: #903749;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
}

.lista-monstros{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.monstro{
    width: 25em;
    padding: 10px;
    margin: 20px;
    gap: 20px;
    
}
img{
    aspect-ratio: 1/1;
}

.lista-monstros .monstro a img:hover {
      transform: scale(1.1);
        transition: 0.5s;
       box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
       border-radius: 50%;
    }